body {
    background-color: darkgrey;
}

.background-body {
    width: 800px;
    height: 650px;
    background-color: lightgrey;
    float: top;
    margin: 0 auto;
}

.header-box {
    width: 100%;
    height: 150px;
    background-color: grey;
}

.footer-box {
    width: 800px;
    height: 150px;
    background-color: black;
    margin: 0 auto;
}